footer {
  background-color: var(--main-gray);
  height: 4rem;
  border-top: 1px solid rgba(255, 255, 255, 0.171);

  margin-top: 5rem;
}

footer a {
  text-decoration: none;
  color: var(--main-yellow);
  margin-left: 0.3rem;
}

footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 4rem;
}
